[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-salt"]
	path = bundle/vim-salt
	url = https://github.com/saltstack/salt-vim.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/php.vom"]
	path = bundle/php.vom
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-gotham"]
	path = bundle/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "bundle/fsharp-vim"]
	path = bundle/fsharp-vim
	url = https://github.com/kongo2002/fsharp-vim.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "bundle/Dockerfile.vim"]
	path = bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
